@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  font-size: 1.5rem;
}

html,
body {
  scroll-behavior: smooth;
}

.bg-home {
  background-image: url("../home/bg-home.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(0.9);
}
